.speedometer {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.speedometer-base {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.speedometer-needle-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  animation-name: needle-anim;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.speedometer-needle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.speedometer-speed-label {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24
}